<div class="mainDiv">
    <h2>Material List</h2>
    <label for="inputSearch"><svg class="searchIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" />
        </svg>
        <div id="searchDiv">
            <input type="text" placeholder="start typing to search" [(ngModel)]="keyWords" (input)="search()"
                id="inputSearch">
            <button *ngIf="keyWords || (language && language != 0) || (type && type != 0)" id="resetSearchBtn"
                (click)="resetSearch()">x</button>

        </div>
    </label>
    &nbsp;Language:
    <select [(ngModel)]="language" (change)="search()">
        <option value="0"></option>
        <option *ngFor="let lang of languageList" value="{{lang.language_id}}">{{lang.name}}</option>
        <!-- <option value="-1">other</option> -->
    </select>

    &nbsp;Type:
    <select [(ngModel)]="type" (change)="search()">
        <option value="0"></option>
        <option value="1">Book</option>
        <option value="2">Magazine</option>
        <option value="3">Newspaper</option>
    </select>

    <hr>
    <div id="searchInfoDiv">
        {{searchInfo ? searchInfo : "No data found."}}
    </div>
    <div *ngIf="bookList.length > 0">
        <hr>
        <div>
            <br>

            <table class="tableResults">
                <tr>

                    <table class="tableHeadResults">
                        <tr>
                            <th>Title</th>
                            <th>Language</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Borrower</th>
                            <th>Total Pages</th>
                            <th>Delete</th>
                        </tr>
                    </table>


                </tr>

                <div class="divBodyResults">

                    <table class="tableBodyResults">
                        <tr *ngFor="let book of bookList" class="trHover" (click)="selectBook(book.book_id)">
                            <td>{{book.name}}</td>
                            <td>{{book.language}}</td>
                            <td>{{manageType(book.category)}}</td>
                            <td>{{manageStatus(book.status)}}</td>
                            <td>{{book.status == 1 ? "" : getBorrowerName(book.book_id)}}</td>
                            <td>{{book.pages}}</td>
                            <td>
                                &nbsp;&nbsp;
                                <button *ngIf="selectedBook == book.book_id" class="deleteBtn"
                                    (click)="deleteBook(book.book_id, book.name)">DELETE</button>
                            </td>
                        </tr>
                    </table>
                    <br>
                   
                </div>
            </table>

            <div class="pagingDiv" *ngIf="numOfPages > 1">
                <div class="pagingRight" (click)="prevPage()"></div>
                &nbsp;
                {{currentPage}} of {{numOfPages}}
                &nbsp;
                <div class="pagingLeft" (click)="nextPage()"></div>
            </div>

        </div>
    </div>

</div>