#searchInfoDiv {
    background-color: rgb(223, 242, 186);
    border: 1px solid white;
    font-size: 80%;
    padding: 5px;
    width: 760px;
    white-space: pre-line;
}

button {
    opacity: 0.8;
}

.divBodyResults {
    width: 760px;
    /* height: 240px; */
    height: 150px;
    overflow: auto;
}

