body {
    background-color: rgb(239, 239, 210);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /*  height: 100vh; */
    cursor: default;
}

.mainDiv {
    border: 2px solid black;
    padding: 10px;
}

h1 {
    margin: 15px;
    padding: 0;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    margin: 13px;
}

h3 {
    margin: 5px;
    text-align: center;
}

button {
    /*     background-color: rgb(0, 123, 255); */
    background-color: rgb(255, 206, 116);
    border: 2px solid black;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: rgb(255, 174, 0);
}

button:active {
    background-color: rgb(255, 206, 116);

    color: white;

}

/* .confirmBtn {
    color: rgb(0, 0, 0);
    background-color: rgb(2, 255, 36);

}

.confirmBtn:hover {
    background-color: rgb(100, 255, 170);
    color: blue;
}

.confirmBtn:active {
    border: 2px solid rgb(148, 148, 148);
    background-color: rgb(255, 255, 255);
} */

.deleteBtn {
    color: black;
    /* background-color: red; */
    background-color: rgb(245, 179, 209);
}

.deleteBtn:hover {
    background-color: pink;
    color: red;
}

.deleteBtn:active {
    border: 2px solid rgb(148, 148, 148);
    background-color: red;
    color: black;
}

.confirmDiv {
    display: flex;
    justify-content: space-between;
}

input {
    /* background-color: rgb(185, 241, 211); */
    background-color: rgb(223, 242, 186);
    border-radius: 4px;
}

input:focus {
    /* background-color: rgb(205, 240, 221); */
    background-color: rgb(239, 239, 210);

}

#searchDiv {
    position: relative;
    display: inline-block;
}

#searchDiv:hover #resetSearchBtn, #searchDiv:hover #showAllBtn {
    opacity: 1;
}

#resetSearchBtn {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    line-height: 15px;
    padding: 0;
    margin: auto;
    font-size: 12px;
    opacity: 0.3;
}

#showAllBtn {
    position: absolute;
    right: 3px;
    top: 0;
    bottom: 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10%;
    height: 15px;
    /* width: 15px; */
    line-height: 15px;
    padding: 1px;
    margin: auto;
    font-size: 9px;
    opacity: 0.3;
}

select {
    /* background-color: rgb(185, 241, 211); */
    background-color: rgb(223, 242, 186);
    border-radius: 4px;
}

.errorSpn {
    color: red;
    background-color: rgb(255, 177, 177);
    border: 1px solid red;
    border-radius: 2px;
    padding: 3px;
    font-weight: bold;
}

.successSpn {
    color: blue;
    background-color: rgb(179, 179, 255);
    border: 1px solid blue;
    border-radius: 2px;
    padding: 3px;
    font-weight: bold;
}

/* Hide <input:number> arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* Chrome, Safari, Edge, Opera */
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    /* Firefox */
    -moz-appearance: textfield;
}

table {
    text-align: left;
    border-spacing: 0;
    font-size: 90%;
}

.tableResults {
    border: 0;
    width: 765px;
}

.tableResults>tr, .tableHeadResulets>tr {
    border: 0px solid black
}

.tableHeadResults {
    border: 1;
    width: 740px;
}

.tableHeadResults tr {
    width: 740px;
    background-color: rgb(191, 196, 193);
    /* delete ? */
}

.divBodyResults {
    width: 760px;
    max-width: 760px;
    min-width: 760px;
    height: 290px;
    overflow: auto;
    resize: both;
    max-height: 400px;
    min-height: 50px;
}

.divBodyResults::-webkit-scrollbar {
    /*     background-color: rgb(239, 239, 210); */
    background-color: rgb(220, 220, 220);
    box-sizing: border-box;
    /* border-right: 2px solid rgb(220, 220, 220);
    border-left: 2px solid rgb(220, 220, 220); */
    border-right: 3px solid rgb(239, 239, 210);
    border-left: 3px solid rgb(239, 239, 210);
}

.divBodyResults::-webkit-scrollbar-track {
    background-color: none;
}

.divBodyResults::-webkit-scrollbar-thumb {
    background-color: rgb(239, 239, 210);
    box-sizing: border-box;
    border: 2px solid rgb(220, 220, 220);
    /* background-color: rgb(220, 220, 220); */
}

.divBodyResults::-webkit-scrollbar-thumb:hover {
    /* background-color: rgb(191, 196, 193); */
    background-color: rgb(247, 247, 233);
}

.divBodyResults::-webkit-scrollbar-corner {
    background-color: rgb(191, 196, 193);
}

.divBodyResults:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.tableBodyResults {
    border: 1;
    width: 740px;
}

td, th {
    border: 1px solid black;
    padding-left: 5px;
    width: 60px;
    max-width: 60px;
    overflow: hidden;
}

.trHover:hover {
    background-color: rgb(224, 224, 224);
}

.searchIcon {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    cursor: pointer;
}

input[type=checkbox] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background-color: rgb(223, 242, 186);
    border-radius: 50%;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}

input[type=checkbox]:hover {
    background-color: rgb(205, 227, 161);
}

input[type=checkbox]:checked {
    background-color: orange;
}

input[type=checkbox]:checked:hover {
    background-color: rgb(211, 137, 0);
}

.pagingDiv {
    text-align: center;
}

/* .pagingDiv div { */

.pagingDiv>* {
    /* transform: rotate(45deg); */
    height: 0px;
    width: 0px;
    border: 10px solid transparent;
    /* border-top: 5px solid orange; */
    display: inline-block;
    cursor: pointer;
}

.pagingRight {
    border-right: 10px solid orange;

}

.pagingLeft {
    border-left: 10px solid orange;
}